.container {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 90px 60px;
    text-align: center;
}

.image01 {
    border-radius: 10px;
}

.city {
    position: absolute;
    width: 100%;
    top: 40px;
    /* left: 30px; */
    /* padding: 10px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 400%;
    text-align: center;
    /* text-justify: distribute; */

}

.weatherItem {
    position: absolute;
    width: 100%;
    top: 270px;
    /* left: 30px; */
    /* padding: 10px; */
    text-align: center;
}

.elem {
    /* margin: 0px 40px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    /* text-align: center;
    text-justify: distribute; */
}